<h1> Selected Article </h1>

<p>
  Title: <%= @article.title%>
</p>

<p>
  Description <%=@article.description%>
</p>


<div>
  <%= link_to 'Edit', edit_article_path(@article) %>
</div>
<div>
  <%= link_to 'Home', articles_path %>
</div>