<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="textbox">
      <h1>
        <span class="black">Criminal</span>
        <span class="red">Minds</span>
      </h1>
      <p class="lead">News and Disccussion about episodes and cast.</p>
    </div>
  </div>
</div>